* {
  font-family: sans-serif;
}

.mw-lg {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}

.table-row:nth-child(odd) div {
  background-color: beige;
  border-radius: 4px;
}

.grid-line {
  grid-column-end: span 3;
}

.content {
  display: contents;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.flex-gap-s {
  gap: 1em;
}

.w-sm {
  max-width: 300px;
}

.w-100 {
  width: 100%;
}

.p-m {
  padding: 1em;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.m-m {
  margin: 1em;
}

.border {
  border: 1px solid darkgray;
  border-radius: 4px;
}

.mx-s {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.space-even {
  justify-content: space-evenly;
}

.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  top: 26px; /* Change to 'bottom' to put tooltip on top. */
  color: #fff;
  content: attr(tooltip);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}
.tooltip:hover:before {
  /* This part draws a little arrow. */
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  top: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
  transform: scaleY(-1); /* Point arrow upwards. */
}
